<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.TtgOrderMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.lottery.football.TtgOrder">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="lottery_order_id" jdbcType="VARCHAR" property="lotteryOrderId" />
        <result column="goal" jdbcType="VARCHAR" property="goal" />
        <result column="goal_odds" jdbcType="DOUBLE" property="goalOdds" />
    </resultMap>
    <sql id="Base_Column_List">
        id, lottery_order_id, goal, goal_odds
    </sql>

    <insert id="insertList">
        <foreach collection="list" item="item" separator=";">
            insert into total_goal
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="lotteryOrderId != null">
                    lottery_order_id,
                </if>
                <if test="goal != null">
                    goal,
                </if>
                <if test="goalOdds != null">
                    goal_odds,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{item.id,jdbcType=VARCHAR},
                </if>
                <if test="lotteryOrderId != null">
                    #{item.lotteryOrderId,jdbcType=VARCHAR},
                </if>
                <if test="goal != null">
                    #{item.goal,jdbcType=VARCHAR},
                </if>
                <if test="goalOdds != null">
                    #{item.goalOdds,jdbcType=DOUBLE},
                </if>
            </trim>
        </foreach>
    </insert>


</mapper>